button {
  padding: 1em 1.2em;
  margin: 0.8em 0;
  background-color: var(--colorAccent);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button svg {
  margin-right: .5em;
  position: relative;
  top: 0.1em;
}