form {
  padding-top: 0;
}

form .input-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  form .input-group:not(.col) {
    flex-direction: row;
    justify-content: space-between;
  }

  form .input-group:not(.col) input {
    flex: 1;
    margin-right: 1em;
  }
}

form p {
  text-align: center;
}

form footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

form footer p {
  margin: 1em 0 0;
}

form footer a {
  color: var(--colorAccent);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  padding: 1em 1.2em;
  margin: 0.8em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
