form {
  padding-top: 0;
}

form div {
  display: flex;
  flex-direction: column;
}

form p {
  text-align: center;
}

form label {
  display: flex;
}

form footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

form footer p {
  margin: 1em 0 0;
}

form footer a {
  color: var(--colorAccent);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
