header {
  padding: 2em 2em 0;
}

header h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
}

header h1 a {
  color: inherit;
}

header a {
  color: var(--colorAccent);
  text-decoration: none;
}

header .links {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header p {
  text-align: center;
  font-size: 1.2rem;
  margin: .4em 0 0;
}
