.learning .original {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--colorAccent);
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

.learning .count-container {
  text-align: center;
}

.learning .count-container p {
  margin: 0 0 1em;
}

.learning .answer-form {
  display: flex;
  flex-direction: column;
}

.learning .content {
  padding-top: 0;
}

.learning .score-info {
  text-align: center;
  margin-top: 1em;
}

.learning .score-info p {
  margin: 0 0 1em;
}

.learning .score-info p span {
  white-space: nowrap;
}

.learning .total-score {
  font-weight: bold;
  font-size: 1.2em;
}